<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
<div class="header">
	<h1>Ecchi Tail</h1>
<p>una pagina Ecchi de FT</p>
</div>
<div class="menu">
	<a href="file:///E:/paginas%20web/layout/layout%202.html">Primera Pagina</a>
	<br>
	<br>
    <a href="">En proceso</a>
    <br>
    <br>
    <a href="">En proceso</a>
    <br>
    <br>
    <a href="">En proceso</a>
</div>
<div class="contenido">
	<div class="izquierda">
		<div class="item">
			<h2>Bellezas de cabellos dorados</h2>
			<h5>No hay nada más que decir, son bellezas rubias, lindas y con cerebro 100 garantizado papu</h5>
			<img src="crossover.jpg" alt="" class="imagen">
		</div>
	</div>
	<div class="derecha">
		<div class="item">
			<h1>Personajes</h1>
			<h2>Lucy Heartfilia perteneciente al anime de fairy tail</h2>
			<h2>Rebecca del manga de Eden´s Zero</h2>
		</div>
	</div>
</div>
</body>
</html>